/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*固定的上方bar區塊*/
.wrap{
    width: 1024px;
    margin: 0 auto;
}

.header{
    position: relative;
    margin-bottom: 60px;
}

.banner .logo{
    position: absolute;
    top: 115px;
    right: 60px;
}

.banner .menu{
    background:rgba(255, 255, 255, 0.3); 
    top:0;
    width: 1024px;
    height: 76px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.menu li a{
    text-decoration: none;
    margin-right: 52px;
    font-size: 15px;
    color:#fff;
}

.menu li a:hover{
    color:#00CC99;
    border-bottom: 7px solid #00CC99;
    padding-bottom: 20px;
}


.bar{
    position: absolute;
    top:0;
    left: 0;
}

 .bar h1 a{
    position: absolute;
    top: 20px;
    left: 42px;
    background-image: url(../img/Logo.png);
    width: 170px;
    height: 36px;
    display:block;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
 }
/*bar以下內容*/

 .title{
    position: absolute;
    bottom: 247px;
    left: 37px;
    color: #00CC99;
    font-size: 48px;
 }
 
 
 .title h2 span{
    color: #FFF;
    
 }

.title .btn{
 color:blue;
    width: 262px;
    height: 62px;

}
.btn-signup {
    display: in-block;
   padding: 17px 39px;
   background-color: #00c195; 
   color: white;
   text-decoration: none; 
   border-radius: 5px;
   font-size: 20px;
   transition: background-color 0.3s;
   position: absolute;
   bottom: 141px;
   left: 37px;
}

.btn-signup:hover {
  background-color: #00a882; 
}


.content .title{
    width: 940px;
    border: 1px solid black;
    display: flex;
}
    

.content h2{
    color:#00CC99;
    font-size: 36px;
    margin-left: 42px;
    
}

.content span{
    color:#9B9B98;
    font-size: 20px;
    padding-left: 14px;
}


.content .btn{
    text-align: left;
}

.content .course {
    margin-top: 32px;
}

.cuzt{
    display: flex;
    justify-content: space-between;
}

.cuzt a{
   display: in-block;
   padding: 5px 12px;
   border: 1px solid #00CC99;
   color: #00c195;
   border-radius:5px ;
   text-decoration: none;
   margin-right: 42px;
   line-height: 150%;
   
}


.cuzt a:hover{
    color:#3d94ea;
    border:1px solid #3d94ea;


}

.course ul{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-left: 42px;
    margin-right: 42px;
}

.course .item{
    width: 300px;
    height: 294px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgb(182, 182, 182);
   
}

.course img{
    margin-top: 28px;
}

.course h3{
    font-size: 20px;
    margin-top: 14px;
}

.course p{
    text-align: left;
    margin: 17px 20px 20px 20px;
    line-height: 150%;
    color:#9B9B98

}

.list  h2{
    margin-top: 60px;
}
.list table{
    margin: 32px 42px 60px 42px;
    margin-bottom: 60px;
    width: 940px;
    text-align: center;
   
}

.list th{
    background:#EBEBEB;
    padding-top: 12px;
    padding-bottom: 14px;
}
.list td{
    padding-top: 12px;
    padding-bottom: 14px;
    border-bottom: 1px solid #EBEBEB;
}
.green{
    color:#00CC99
}

.form{
    position: relative;
    height: 390px;
    background: #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form h3{
    font-size: 30px;
    margin-top: 152px;
    margin-left: 48px;
    margin-bottom: 148px;
}
.form .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 152px;
    margin-bottom:  117px; 
}

.form .content input{
    width: 460px;
    height: 56px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    margin-right: 48px;
    
}

.form .content input:hover{
    border:2px solid #00CC99;
}


.content .sub{
    position: absolute;
    bottom: 46px;
    right: 48px ;
    background: #00CC99;
    color:#fff;
    border-radius: 5px;
    width: 140px;
    height: 51px;
    border-style: none;
    font-size: 20px;
}

.content .sub:hover{
    background: #3d94ea;
}


/* 固定footer  */
.footer{
    background: #323228;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .logo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 42px;
}

.footer .logo img{
    padding-top: 8px;
}

.media{
    display: flex;
    margin-right: 42px;
}

.media li a{
    margin-right:22px;
}




/*course的head*/

.course_title{
    position: absolute;
    top: 191px;
    left: 37px;
    color: #fff;
    font-size: 48px;
 }
 
 
 .course_title h2 span{
    color:#00CC99;
    font-size: 24px;
 }


.btn-signup2 {
    display: in-block;
   padding: 17px 39px;
   background-color: #00c195; 
   color: white;
   text-decoration: none; 
   border-radius: 5px;
   font-size: 20px;
   transition: background-color 0.3s;
   position: absolute;
   bottom: 180px;
   left: 37px;
}

.btn-signup2:hover {
  background-color: #00a882; 
}


.intro{
    width: 590px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.intro img{
    margin-right: 36px;
}
.intro .name{
    text-align: left;
    margin-right: 36px;
    
}

.intro .name p {
    font-size: 36px;
    color: black;
    margin-bottom: 15px;
}

.intro .name .green {
    color: #00CC99;
}

.intro ul li{
    line-height: 150%;
}

.content2 .title1{
    width: 590px;
    margin: 0 auto;
    
}

.title1 h2{
    font-size: 36px;
    color:#00CC99;
}

.title1 span{
    font-size: 20px;
    color: #9B9B98;
    vertical-align: middle;
    padding-left: 14px;
}

.title1 ol{
    margin-top: 32px;
}

.title1 ol li{
    line-height: 150%;
}


.title2{
    width: 590px;
    margin: 0 auto;
    margin-top: 60px;

}

.title2 h2{
    font-size: 36px;
    color:#00CC99;
}

.title2 span{
    font-size: 20px;
    color: #9B9B98;
    vertical-align: middle;
    padding-left: 14px;
}

.title2 .content{
    width: 620px;
    margin-top: 32px;
    margin-bottom: 60px;
    
}
.title2 .content .gray{
    background: #EBEBEB;
    width: 620px;  
    height: 60px;
}
.title2 .content .white{
    background: #FFF;
    color:#9B9B9B;
    width: 620px;  
    height: 60px;
}

.title2 .content li p{
  margin-left: 38px;
  padding-top:  18px;
  
}

.title3{
    position: relative;
    background: #EBEBEB;
}

.title3 h3{
    font-size: 30px;
    padding-top: 152px;
    padding-left: 202px;
}

.title3 p{
    font-size: 30px;
    margin-top: 18px;
    padding-bottom: 154px;
    padding-left: 202px;
}

.btn-signup3 {
    position: absolute;
   display: in-block;
   padding: 17px 39px;
   background-color: #00c195; 
   color: white;
   text-decoration: none; 
   border-radius: 5px;
   font-size: 20px;
   transition: background-color 0.3s;
   top: 190px;
   right: 202px;
}

.btn-signup3:hover{
    background-color: #00a882; 
}


    